/* src/assets/styles/rtl.css */
body {
  direction: rtl;
  text-align: right;
}

/* إعادة تعيين اتجاه بعض العناصر */
.MuiOutlinedInput-notchedOutline {
  text-align: right;
}

/* تنسيق المكونات في الاتجاه العربي */
.MuiFormLabel-root {
  right: 0;
  transform-origin: top right;
}

.MuiInputBase-input {
  text-align: right;
}

.MuiSelect-icon {
  left: 7px;
  right: auto;
}

.MuiCheckbox-root {
  margin-right: -11px;
  margin-left: 0;
}

.MuiRadio-root {
  margin-right: -11px;
  margin-left: 0;
}

.MuiSwitch-switchBase {
  right: 0;
  left: auto;
}

.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
  right: 8px;
  left: auto;
}

.MuiTableCell-root {
  text-align: right;
}

.MuiTypography-alignRight {
  text-align: left;
}

.MuiTypography-alignLeft {
  text-align: right;
}

/* إعادة تعيين هوامش أيقونات الأزرار */
.MuiButton-startIcon {
  margin-right: 0;
  margin-left: 8px;
}

.MuiButton-endIcon {
  margin-left: 0;
  margin-right: 8px;
}

/* تنسيق التنقل */
.MuiBreadcrumbs-ol {
  direction: rtl;
}

.MuiBreadcrumbs-separator {
  margin-left: 8px;
  margin-right: 8px;
}

/* تنسيق القوائم */
.MuiList-padding {
  padding-right: 16px;
  padding-left: 0;
}

.MuiMenuItem-root {
  text-align: right;
}

.MuiListItemIcon-root {
  margin-right: -11px;
  margin-left: 16px;
}

.MuiDrawer-paperAnchorRight {
  right: 0;
  left: auto;
}

/* تنسيق المحاذاة اليمنى واليسرى */
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* تنسيق الهوامش */
.mr-1 {
  margin-right: 0 !important;
  margin-left: 0.25rem !important;
}

.mr-2 {
  margin-right: 0 !important;
  margin-left: 0.5rem !important;
}

.mr-3 {
  margin-right: 0 !important;
  margin-left: 1rem !important;
}

.ml-1 {
  margin-left: 0 !important;
  margin-right: 0.25rem !important;
}

.ml-2 {
  margin-left: 0 !important;
  margin-right: 0.5rem !important;
}

.ml-3 {
  margin-left: 0 !important;
  margin-right: 1rem !important;
}

/* تخصيص لـ Image Gallery */
.image-gallery-right-nav {
  right: auto !important;
  left: 0 !important;
}

.image-gallery-left-nav {
  left: auto !important;
  right: 0 !important;
}